body {
    margin: 0 ;
    height: 80vh;
    align-items: center ;
    justify-content: center ;
    font-family: 'Quicksand', sans-serif ;
}

.playing {
    background-image: url("../img/music-player-bg.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.musicPlayer {
    display: grid;
    width: 60em;
    grid-template-columns: repeat(2, 1fr);
    background-image: black;
}

.controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 10em;
    text-align: center;
}

.playing {
    display: grid;
    background-color: darkmagenta;
}

.playlist {
    background-color: darkmagenta;
}

img {
    width: 5em;
    height: 5em;
    justify-content: center;
}
