body {
    background-image: url("../img/music-player-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.musicPlayer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: black;
}

.playing {
    background-color: violet;
}

.playlist {
    background-color: darkviolet;
}

img {
    width: 5em;
    height: 5em;
    justify-content: center;
}
